<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datashop.mapper.DInterfaceMapper">
  <resultMap id="BaseResultMap" type="com.datashop.domain.DInterface">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="content_type" jdbcType="VARCHAR" property="contentType" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="modifier" jdbcType="INTEGER" property="modifier" />
    <result column="request" jdbcType="VARCHAR" property="request" />
    <result column="response" jdbcType="VARCHAR" property="response" />
    <result column="project" jdbcType="INTEGER" property="project" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
  </resultMap>
  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from d_interface
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.datashop.domain.DInterface">
    insert into d_interface (id, name, path, 
      method, content_type, creator,
      modifier, request, response, 
      project, remarks, create_time,
      update_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, 
      #{method,jdbcType=VARCHAR}, #{contentType,jdbcType=VARCHAR}, #{creator,jdbcType=INTEGER}, 
      #{modifier,jdbcType=INTEGER}, #{request,jdbcType=VARCHAR}, #{response,jdbcType=VARCHAR}, 
      #{project,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT},
      #{updateTime,jdbcType=BIGINT})
  </insert>
  <update id="updateById" parameterType="com.datashop.domain.DInterface">
    update d_interface
    set name = #{name,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      content_type = #{contentType,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=INTEGER},
      modifier = #{modifier,jdbcType=INTEGER},
      request = #{request,jdbcType=VARCHAR},
      response = #{response,jdbcType=VARCHAR},
      project = #{project,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, path, method, content_type, creator, modifier, request, response,
    project, remarks, create_time, update_time
    from d_interface
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, path, method, content_type, creator, modifier, request, response,
    project, remarks, create_time, update_time
    from d_interface
    order by id
  </select>
  <select id="page" resultType="Map">
    select di.id, di.name, di.path, di.method, di.content_type AS contentType,
    di.remarks, di.create_time AS createTime, di.update_time AS updateTime,
    di.creator,du.name AS creatorName,
    di.modifier,duer.name AS modifierName,
    di.project, dp.name AS projectName,
    dpm.power
    from d_interface di
    LEFT JOIN d_user du ON di.creator = du.id
    LEFT JOIN d_user duer ON di.modifier = duer.id
    LEFT JOIN d_project dp ON di.project = dp.id
    LEFT JOIN d_power_mapping dpm ON dpm.user_id = #{userId} AND dpm.project_id = #{project}
    <where>
      di.project = #{project}
      <if test="id != null and id != ''">
        and
        di.id = #{id}
      </if>
      <if test="name != null and name != ''">
        and
        di.name like #{name}
      </if>
    </where>
    order by di.update_time desc
    limit #{offset},#{size}
  </select>
  <select id="total" resultType="int">
    select count(*)
    from d_interface
    <where>
      <if test="id != null and id != ''">
        id = #{id}
      </if>
      <if test="name != null and name != ''">
        and
        name like #{name}
      </if>
      <if test="project != null and project != ''">
        and
        project = #{project}
      </if>
    </where>
  </select>

  <select id="findByName" resultMap="BaseResultMap">
    SELECT * FROM d_interface WHERE name = #{name};
  </select>

  <select id="getDetail" resultType="Map">
    select di.id, di.name, di.path, di.method, di.content_type AS contentType,di.request,di.response,
    di.remarks, di.create_time AS createTime, di.update_time AS updateTime,
    di.creator,du.name AS creatorName,
    di.modifier,duer.name AS modifierName,
    di.project, dp.name AS projectName,
    dpm.power
    from d_interface di
    LEFT JOIN d_user du ON di.creator = du.id
    LEFT JOIN d_user duer ON di.modifier = duer.id
    LEFT JOIN d_project dp ON di.project = dp.id
    LEFT JOIN d_power_mapping dpm ON dpm.user_id = #{userId,jdbcType=INTEGER} AND dpm.project_id = di.project
    WHERE di.id = #{interId,jdbcType=INTEGER}
  </select>
</mapper>