<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.datashop.mapper.DPowerMappingMapper" >
  <resultMap id="BaseResultMap" type="com.datashop.domain.DPowerMapping" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="power" property="power" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
  </resultMap>

  <resultMap id="ProjectListMap" type="com.datashop.domain.PowerMapping" >
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="power" property="power" jdbcType="INTEGER" />
      <result column="create_time" property="createTime" jdbcType="BIGINT" />
      <result column="update_time" property="updateTime" jdbcType="BIGINT" />
      <association property="user" column="user_id" select="com.datashop.mapper.DUserMapper.findByIdWidthoutPw"/>
      <association property="project" column="project_id" select="com.datashop.mapper.DProjectMapper.findById"/>
  </resultMap>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from d_power_mapping
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.datashop.domain.DPowerMapping" >
    insert into d_power_mapping (id, user_id, project_id, 
      power, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER},
      #{power,jdbcType=INTEGER}, #{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateById" parameterType="com.datashop.domain.DPowerMapping" >
    update d_power_mapping
    set user_id = #{userId,jdbcType=INTEGER},
      project_id = #{projectId,jdbcType=INTEGER},
      power = #{power,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, user_id, project_id, power, create_time, update_time
    from d_power_mapping
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, user_id, project_id, power, create_time, update_time
    from d_power_mapping
    order by update_time desc;
  </select>
  <select id="deleteMappingByProject" resultMap="BaseResultMap" >
    delete from d_power_mapping where project_id = #{projectId,jdbcType=INTEGER}
  </select>
  <select id="deleteMappingByUser" resultMap="BaseResultMap" >
    delete from d_power_mapping where user_id =  #{userId,jdbcType=INTEGER}
  </select>
  <select id="deleteByUserAndProject" resultMap="BaseResultMap" >
    delete from d_power_mapping where user_id =  #{userId,jdbcType=INTEGER} and project_id = #{projectId,jdbcType=INTEGER}
  </select>
  <select id="selectProjectsByUser" resultMap="ProjectListMap" >
    select dpm.id, dpm.user_id, dpm.project_id, dpm.power, dpm.create_time, dpm.update_time
    from  d_power_mapping dpm
    where dpm.user_id = #{userId,jdbcType=INTEGER}
    <if test="power != null and power != ''">
      and
        dpm.power = #{power,jdbcType=INTEGER}
    </if>
    order by dpm.update_time desc;
  </select>
  <select id="selectUsersByProject" resultMap="ProjectListMap">
      select dpm.id, dpm.user_id, dpm.project_id, dpm.power, dpm.create_time, dpm.update_time
      from  d_power_mapping dpm
      where dpm.project_id = #{projectId,jdbcType=INTEGER}
    <if test="power != null and power != ''">
      and
      power = #{power,jdbcType=INTEGER}
    </if>
    order by dpm.update_time desc;
  </select>
  <select id="findByUserAndProject" resultMap="BaseResultMap" >
    select  id, user_id, project_id, power, create_time, update_time
    from d_power_mapping
    where user_id = #{userId,jdbcType=INTEGER} and project_id = #{projectId,jdbcType=INTEGER}
  </select>
</mapper>