<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datashop.mapper.DPowerMappingMapper">

  <resultMap id="BaseResultMap" type="com.datashop.domain.DPowerMapping">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="power" jdbcType="INTEGER" property="power" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <association column="user_id" property="user" select="com.datashop.mapper.DUserMapper.findByIdWidthoutPw" />
    <association column="project_id" property="project" select="com.datashop.mapper.DProjectMapper.findById" />
  </resultMap>

  <resultMap id="ProjectListMap" type="com.datashop.domain.PowerMapping">
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="power" jdbcType="INTEGER" property="power" />
      <result column="create_time" jdbcType="BIGINT" property="createTime" />
      <result column="update_time" jdbcType="BIGINT" property="updateTime" />
      <association column="user_id" property="user" select="com.datashop.mapper.DUserMapper.findByIdWidthoutPw" />
      <association column="project_id" property="project" select="com.datashop.mapper.DProjectMapper.findById" />
  </resultMap>
  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from d_power_mapping
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.datashop.domain.DPowerMapping">
    insert into d_power_mapping (id, user_id, project_id, 
      power, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER},
      #{power,jdbcType=INTEGER}, #{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateById" parameterType="com.datashop.domain.DPowerMapping">
    update d_power_mapping
    set user_id = #{userId,jdbcType=INTEGER},
      project_id = #{projectId,jdbcType=INTEGER},
      power = #{power,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, project_id, power, create_time, update_time
    from d_power_mapping
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, project_id, power, create_time, update_time
    from d_power_mapping
    order by update_time desc;
  </select>
  <select id="deleteMappingByProject" resultMap="BaseResultMap">
    delete from d_power_mapping where project_id = #{projectId,jdbcType=INTEGER}
  </select>
  <select id="deleteMappingByUser" resultMap="BaseResultMap">
    delete from d_power_mapping where user_id =  #{userId,jdbcType=INTEGER}
  </select>
  <select id="deleteByUserAndProject" resultMap="BaseResultMap">
    delete from d_power_mapping where user_id =  #{userId,jdbcType=INTEGER} and project_id = #{projectId,jdbcType=INTEGER}
  </select>
  <select id="selectProjectsByUser" resultMap="BaseResultMap">
    select dpm.id, dpm.user_id, dpm.project_id, dpm.power, dpm.create_time, dpm.update_time
    from  d_power_mapping dpm
    where dpm.user_id = #{userId,jdbcType=INTEGER}
    <if test="power != null and power != ''">
      and
        dpm.power = #{power,jdbcType=INTEGER}
    </if>
    order by dpm.update_time desc;
  </select>
  <select id="selectUsersByProject" resultMap="BaseResultMap">
      select dpm.id, dpm.user_id, dpm.project_id, dpm.power, dpm.create_time, dpm.update_time
      from  d_power_mapping dpm
      where dpm.project_id = #{projectId,jdbcType=INTEGER}
    <if test="power != null and power != ''">
      and
      power = #{power,jdbcType=INTEGER}
    </if>
    order by dpm.update_time desc;
  </select>
  <select id="findByUserAndProject" resultMap="BaseResultMap">
    select  id, user_id, project_id, power, create_time, update_time
    from d_power_mapping
    where user_id = #{userId,jdbcType=INTEGER} and project_id = #{projectId,jdbcType=INTEGER}
  </select>
  <select id="queryAllMyApplingProjectList" resultType="Map">
   SELECT dpm.id,dpm.user_id as usrId,dpm.power,dpm.project_id as projectId,
   dpm.create_time as createTime,dpm.update_time as updateTime,
   dp.name as projectName,dp.creator as projectCreator,du.name as projectCreatorName
  FROM d_power_mapping dpm LEFT JOIN d_project dp ON dpm.project_id = dp.id LEFT JOIN d_user du ON dp.creator = du.id
  where dpm.user_id =  #{userId,jdbcType=INTEGER} and dpm.power = 0 or dpm.power = 2;

  </select>

  <select id="queryAllApplyMineMappingList" resultType="Map">
    SELECT dpm.id,dpm.user_id,dpm.power,dpm.project_id as projectId,dpm.create_time as createTime,
  dpm.update_time as updateTime,dp.name as projectName,dp.creator as projectCreator,du.name as userName
    FROM d_power_mapping dpm LEFT JOIN d_project  dp ON dpm.project_id = dp.id LEFT JOIN d_user du ON dpm.user_id = du.id
  where dp.creator = 10001 and dpm.power = 0 ;
  </select>

  <select id="getProjectUserList" resultType="Map">
    SELECT du.id AS userId,du.name AS userName,dp.id AS projectId,dp.name AS projectName,dpm.power
    FROM d_power_mapping dpm RIGHT JOIN d_user du ON dpm.user_id = du.id LEFT JOIN d_project dp ON dpm.project_id = dp.id
    WHERE dpm.project_id = #{projectId,jdbcType=INTEGER} and power = 1;
  </select>

  <select id="getMyProjects" resultType="Map">
    SELECT dp.id AS projectId, dp.name AS projectName,dp.creator,dp.model,dp.ui,dp.web,
    du.name AS creatorName,dp.create_time AS createTime,dp.update_time AS updateTime
    FROM d_power_mapping dpm
    LEFT JOIN d_project dp ON dpm.project_id = dp.id
    LEFT JOIN d_user du ON dp.creator = du.id
    WHERE dpm.user_id = #{userId,jdbcType=INTEGER}  AND power = 1;
  </select>
</mapper>