<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.datashop.mapper.DUserMapper" >
  <resultMap id="BaseResultMap" type="com.datashop.domain.DUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="account" property="account" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="CHAR" />
    <result column="password" property="password" jdbcType="CHAR" />
    <result column="headerurl" property="headerurl" jdbcType="VARCHAR" />
    <result column="role" property="role" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
  </resultMap>
  <delete id="deleteByUserId" parameterType="java.lang.Integer" >
    delete from d_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.datashop.domain.DUser" >
    insert into d_user (id, account, name, 
      password, headerurl, role, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{account,jdbcType=CHAR}, #{name,jdbcType=CHAR}, 
      #{password,jdbcType=CHAR}, #{headerurl,jdbcType=VARCHAR}, #{role,jdbcType=INTEGER}, 
      #{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR})
  </insert>
  <update id="updateUserById" parameterType="com.datashop.domain.DUser" >
    update d_user
    set account = #{account,jdbcType=CHAR},
      name = #{name,jdbcType=CHAR},
      password = #{password,jdbcType=CHAR},
      headerurl = #{headerurl,jdbcType=VARCHAR},
      role = #{role,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, account, name, password, headerurl, role, create_time, update_time
    from d_user
    where id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="findByIdWidthoutPw" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, account, name, headerurl, role, create_time, update_time
    from d_user
    where id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, account, name, password, headerurl, role, create_time, update_time
    from d_user
    order by id
  </select>
  <select id="getUser" resultMap="BaseResultMap">
    select id, account, name, password, headerurl, role, create_time, update_time
    from d_user
    where
    <if test="id != null and id != ''">
      id = #{id}
    </if>
    <if test="account != null and account != ''">
      account = #{account}
    </if>
    <if test="name != null and name != ''">
      name = #{name}
    </if>
  </select>
  <select id="selectUserByName" resultMap="BaseResultMap">
    select id, account, name, headerurl, role, create_time, update_time
    from d_user
    where
    name LIKE #{name}
    ORDER BY LENGTH(`name`)
  </select>
</mapper>